
.active {

  color: #68C4FD;
}


.popup{
  padding: 0px 20px 0px 20px;
  border-radius: 10px 10px 10px 0px;
  background:#000;
  color: #fff;
  text-align:center;
}

.iconHover{
  margin-left: 10px;
  margin-right: 10px;
}